body {
  box-sizing: border-box;
}

img {
  width: auto;
  height: 100px;
}

.main-weather-output {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.day-box-holder, .img-temp-cond {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}

.day-box-holder {
  justify-content: flex-start;
  margin-left: auto;
  width: 95%;
}

.day-div {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;  /* flex-grow flex-shrink flex-basis */
  border: 3px double black;
  max-width: 30%;
  min-width: 300px;
  min-height: 100px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.sky-color-blue {
  background: linear-gradient(to bottom, rgba(33,180,226,1) 0%, rgba(37,181,226,1) 1%, rgba(183,222,237,1) 34%, rgba(183,222,237,1) 100%);
}

.sky-color-gray {
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(209,209,209,1) 31%, rgba(254,254,254,1) 100%);
}

.day-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin: 0.35rem;
}

.temps, .description {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.headline {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
}
